body {
    font-family: Arial;
    background-color: rgba(247, 238, 125, 0.856);
    background-image: url("../IMG/etel4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
}
.container {
    max-width: 80%;
    margin: 40px auto;
    background-color: rgba(255, 255, 255, 0.8);
}
